.contact {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
.contactDetail {
  display: flex;
}
.contact img {
  width: 4rem;
  height: auto;
  margin-right: 10px;
}
.textBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.contact button {
  background-color: #dc143c;
  color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}
.contact button:hover {
  background-color: #fff;
  color: #dc143c;
  border: 1px solid #dc143c;
}

.contact .edit {
  background-color: #fb8500;
  color: #fff;
  margin-right: 15px;
}
.contact .edit:hover {
  background-color: #fff;
  color: #023047;
  border: 1px solid #fb8500;
}
